{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="fs-2 mt-5 overflow-y-hidden ">Squad Selection</h2>
        <form class="mt-5">
            <div class="mb-3">
                <label for="teamName" class="form-label fs-5 fw-bold">Team Name</label>
                <input type="text" class="form-control" id="teamName" placeholder="Team Name">
            </div>

            <div class="mb-3">
                <label for="favoriteClub" class="form-label fs-5 fw-bold">Favorite Club</label>
                <select class="form-select" id="favoriteClub">
                    <option value="" disabled selected>Select your favorite club</option>
                    <option value="Arsenal">Arsenal</option>
                    <option value="Manchester United">Manchester United</option>
                    <option value="Chelsea">Chelsea</option>
                    <option value="Liverpool">Liverpool</option>
                    <!-- Add more options for other clubs as needed -->
                </select>
            </div>
        </form>
    </div>

    <section>
        <div class="container">
            <div class="mt-5">
                <div class="squad-border">
                    <h3 class="text-center overflow-y-hidden">Bank</h3>
                    <h4 class="text-center mb-4 overflow-y-hidden">$100.0m</h4>
                </div>   
                </div>
                <div class="squad-create">
                    <div class="d-flex justify-content-sm-evenly">
                        <div class="player-card mt-5 overflow-y-hidden">
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
            
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-sm-evenly">
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
            
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>

                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
        
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>

                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div> 
                    </div>

                    <div class="d-flex create-mfds justify-content-sm-evenly">
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
            
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>

                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
            
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>

                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-sm-evenly">
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>
            
                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div>

                        <div class="player-card mt-5 overflow-y-hidden" >
                            <button id="select-player" class="squad-players">
                                <div>
                                    <img class="squad-jersey" src="../static/images/jersey.png">
                                </div>
                                <select name="" id="player-name" class="testing">
                                    <option value="">Player name</option>
                                </select>
                                <div id="price" class="overflow-y-hidden text-center">$0.0</div>
                            </button>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
        <div class="container d-flex justify-content-sm-evenly mt-4 mb-4">
            <button id="resetBtn" class="btn btn-danger btn-lg" onclick="resetTeam()">
                Reset<span class="align-middle"><i class='bx bx-refresh' style='color:#ffffff'></i></span></button>
            <button id="submitBtn" class="btn btn-success btn-lg" onclick="submitTeam()" disabled>Create Team <a href="{{ url_for("my_team.index") }}"></a></button>
        </div>
    </section>
{% endblock %}
