.squad-border {
    /* background: linear-gradient(to top, rgb(2, 239, 255), rgb(98, 123, 255)); */
    align-items: center;
}

.squad-border h4 {
    color: rgb(9, 107, 9);
}

.squad-create {
    background-image: url(../images/pitch.svg);
    background-size: cover;
}

.squad-create h3 {
    font-size: 16px;
}

.squad-create h4 {
    font-size: 15px;
}

.squad-players {
    border: 0;
    background: 0;
}

.squad-jersey {
    height: 100px;
}